@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

body {
  width: 100%;
  background-color: #f4f4f4;
}

.btn-primary2 {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 170px;
  border-radius: 150px;
  transition: 0.3s;
}
.btn-primary2:hover {
  background-color: #2222ff;
  color: white;
}

.btn-outline-primary2 {
  padding: 10px;
  width: 170px;
  border-radius: 150px;
  border: 1.5px solid rgb(34, 34, 255);
  color: rgb(34, 34, 255);
}
.btn-outline-primary2:hover {
  border: 1.5px solid rgb(34, 34, 255);
  color: rgb(34, 34, 255);
}

.text-primary2 {
  color: rgb(34, 34, 255);
}

.text-gray {
  color: gray;
}

.navbar {
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 100;
}
.navbar .container #logo {
  font-weight: bold;
}

#hero .h1 {
  font-weight: bold;
  font-size: 60px;
}
#hero .col2 img {
  position: relative;
  width: 300px;
  left: calc(50% - 150px);
  border-radius: 50px;
}

#features .card {
  border: none;
  border-radius: 20px;
}
#features .card .icon-hold {
  position: relative;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#features .card p {
  color: rgb(88, 88, 88);
}

#service .card {
  border: none;
  border-radius: 30px;
}
#service #first {
  z-index: 1;
  background: linear-gradient(180deg, #fff9a8 5.98%, #aeafff 77.73%);
}
#service #first .card {
  width: 90%;
  position: relative;
  left: 5%;
  height: 350px;
  overflow: hidden;
}
#service #first .card p {
  color: rgb(88, 88, 88);
}
#service #first .card .col2 img {
  width: 300px;
  border-radius: 50px;
  position: relative;
  left: calc(50% - 150px);
}
#service #second {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  top: -30px;
  background: linear-gradient(180deg, #fff465 5.98%, #48ff91 77.73%);
}
#service #second #card-1 {
  border: none;
  margin-top: 30px;
  width: 90%;
  left: 5%;
  position: relative;
  height: 350px;
  overflow: hidden;
}
#service #second #card-1 img {
  width: 320px;
  position: relative;
  left: calc(50% - 160px);
}
#service #second .other {
  gap: 20px;
  padding: 55px;
}
#service #second .other .card {
  height: 380px;
  width: 400px;
}
#service #second .other .card img {
  width: 200px;
  height: 250px;
  left: calc(50% - 100px);
  position: relative;
}

@media screen and (max-width: 800px) {
  #hero .h1 {
    font-size: 40px;
  }
  #hero .col2 {
    margin-top: 30px;
  }
  #service #first .card {
    width: 100%;
    left: 0%;
    height: 550px;
    margin-bottom: 40px;
  }
  #service #first .card .col2 img {
    width: 250px;
    left: calc(50% - 125px);
  }
  #service #second #card-1 {
    width: 100%;
    left: 0%;
    height: 520px;
  }
  #service #second #card-1 img {
    width: 220px;
    left: calc(50% - 110px);
    margin-top: 20px;
  }
  #service #second .other {
    padding: 0;
    margin-top: 20px;
  }
  #service #second .other .card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */